<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html">

        <link rel="stylesheet" href="/stylePartials/headerStyle.css" type="text/css">
        <link rel="stylesheet" href="/stylePartials/footerStyle.css" type="text/css">
        <link rel="stylesheet" href="/stylesPageHome/stylePageHome.css" type="text/css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Tilt+Warp&display=swap" rel="stylesheet">
        
        <title>Document</title>
    </head>
    <body>
        <%- include('../../partials/header/header.ejs') %>
        <section class="containerStore">

            <article class="image">
                
                <header class="cab">
                  
                        <h1 class="h1">Seja Bem Vindo ao Meu Portifólio</h1>
                        <p>Desenvolvi todos os projetos e principalmente esta pagina utilizando e focado no JS,EJS e responsividade, logo, não foquei tanto no design mais sim funcionalidades, não achei o menu mobile muito bom! Entretano fiz com todo o carinho e sem olhar, sempre com o objetivo de desafiar a mim e minha criatividade! 
                        </p>
                

                </header>

                
                <div class="images">
                        <img src="https://imagensemoldes.com.br/wp-content/uploads/2020/01/Super-Mario-Personagens-Super-Mario-PNG-03.png" alt="" srcset="" class="image-mario">
                </div>
              

            </article>

        </section>
        <script src="script/animationText.js"></script>
        <%- include('../../partials/footer/footer.ejs') %>
    </body>

</html>