<footer id="footerContainer">
    <main id="containerBox">
    <section class="itens">
        <div class="descricao">
            <h2>LucasDev</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, iusto quod est dolor adipisci mollitia voluptate eos, itaque voluptas unde dolorum veniam numquam? Iure, ab voluptatibus? Optio aperiam inventore soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis numquam placeat molestias? Sapiente aspernatur doloribus quia mollitia aliquid quibusdam suscipit porro debitis, consectetur minus repellat, maiores non at molestiae tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odit perferendis doloremque atque voluptates magni laudantium quae exercitationem, nostrum est ipsa tempore dolor eos corporis repellat beatae obcaecati mollitia velit?</p>
        </div>
     
   </section>

   <section class="map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120048.6271685202!2d-44.1075757913199!3d-19.90249733132497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa690cacacf2c33%3A0x5b35795e3ad23997!2sBelo%20Horizonte%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1678648176485!5m2!1spt-BR!2sbr"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
</main>


<ul class="redes-sociais">
    <li class="itemLinkedin">
       <a href="">
        <img src="./assets/linkedin-in.svg" width="40px" alt="" srcset="">  
       </a>
    </li>
    <li class="itemGitHub">
        <a href="">
            <img src="./assets/github.svg" width="40px" alt="" srcset="">
        </a>
     </li>
</ul>



</footer>