<header id="containerHeader">
    <div id="imgContainer">
        <img src="assets/gamer.png" alt="" srcset="" id="imgLogo"/>
        <span>Meu Portifólio</span>
        
    </div>

    <div id="iconResponsiveContainer" onclick="mostrar()" >
        <img src="assets/img-menu-responsive.png" class="disable" alt="" srcset="">
    </div>
  
    <nav id="navigation">
        <ul id="list_nvg">
            <li class="itemHome listItem">
                <a href="/">
                   Home
                </a>
            </li>
            <li class="itemStore listItem">
                <a href="/store">
                    Store
                </a>
            </li>
            <li class="itemContact listItem">
                <a href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </nav>

 
</header>

<div class="menu_mobile " >
        <ul id="list_nvgMobile">
            <li class="itemHomeMobile listItemMobile">
                <a href="/">
                   Home
                </a>
            </li>
            <li class="itemStoreMobile listItemMobile">
                <a href="/store">
                    Store
                </a>
            </li>
            <li class="itemContactMobile listItemMobile">
                <a href="/contact">
                    Contact
                </a>
            </li>
    </ul>
</div>

<script src="script/index.js"></script>